@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  height: 100vh;
  font-family: 'Nunito Sans', sans-serif;
}

/* width */
::-webkit-scrollbar {
  @apply w-2
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-gray-950
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-gray-800
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-700
}

/* Toast */
:root {
  --toastify-color-dark: #022c22 !important;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);

  --toastify-toast-width: 320px;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;

  --toastify-text-color-dark: #fff;

/*Used when no type is provided*/
--toastify-color-progress-dark: #047857 !important;

/*used to control the opacity of the progress trail*/
--toastify-color-progress-bgo: .2;
}